<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <title>吉祥寺　手打ちそば　ほさか</title>
</head>
<body>
  <header>
    <div class="home">
      <a href=""><img src="../images/image1.jpg" alt="hosaka"></a>
    </div>
    <nav class="g-navi">
      <div class="container nav-wrapper">
        <ul>
          <li><a href="">ホーム</a></li>
          <li><a href="">店の紹介</a></li>
          <li><a href="">メニュー</a></li>
          <li><a href="">ブログ</a></li>
          <li><a href="">生そばお持ち帰り</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section id="images">
    <div class="mv-wrapper">
      <img class="slide" src="../images/image2.jpg" alt="goshiki">
    </div>
    <h1 class="mv"><a href="">手打ちそば　ほさか</a></h1>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide slide1"></div>
        <div class="swiper-slide slide2"></div>
        <div class="swiper-slide slide3"></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </section>
  <section id="welcome">
    <h1>いらっしゃいませ。無心に打つそばは、秀逸なスローフードです。</h1>
    <div class="concepts">
      <div class="start">
        <img src="../images/image0.jpg" alt="">
        <h3>昭和53年吉祥寺で創業</h3>
        <p>昭和五十三年に吉祥寺で開業以来、四十余年腕を磨き続けています。</p>
      </div>
      <div class="goshiki">
        <img src="../images/image2.jpg" alt="">
        <h3>五色そばをご賞味ください</h3>
        <p>田舎とセイロの他に、ごま・しそ・柚子・茶蕎麦、白雪、桜蕎麦など、旬の彩りと香りを盛り込んだ変わり蕎麦“五色そば”は、当店のオリジナルメニューです。</p>
      </div>
      <div class="culture">
        <img src="../images/image3.jpg" alt="">
        <h3>蕎麦は日本の文化です</h3>
        <p>私たちは、懐かしい日本の味、平安古来の時代から脈々と日本人の心に受け継がれてきた「蕎麦のある生活」を、多くの人たちに伝え続けていきたい。
          そう思いながら、真摯に蕎麦を打ち続けます。</p>
      </div>
    </div>
  </section>
  <section id="news">
    <h2>最新情報</h2>
  </section>
  <section id="covid">
    <h2>新型コロナウィルス感染症への対応</h2>
    <div class="covid">
      <div class="deal">
        <img src="../images/image4.jpg" alt="">
        <img src="../images/image5.jpg" alt="">
        <h3>飛沫防止＆消毒</h3>
        <p>消毒作業を徹底的に行っております。</p>
      </div>
      <div class="deal">
        <img src="../images/image6.jpg" alt="">
        <img src="../images/image7.jpg" alt="">
        <h3>ソーシャルディスタンス</h3>
        <p>できる限り座席の距離をとっております。</p>
      </div>
      <div class="deal">
        <img src="../images/image8.jpg" alt="">
        <img src="../images/image9.jpg" alt="">
        <h3>換気の徹底</h3>
        <p>空気清浄機や換気扇、出入り口の開放など行っています。</p>
      </div>
      <div class="deal">
        <img src="../images/image10.jpg" alt="">
        <img src="../images/image11.jpg" alt="">
        <h3>お客様に検温をお願いしております</h3>
        <p>スタッフ全員に出勤時の検温を実施しております。</p>
      </div>
    </div>
  </section>
  <footer>
    <div>
      <ul class="follow-me">
        <li><a href="TwitterのプロフィールURL" class="flowbtn6 fl_tw1"><i class="fab fa-twitter"></i></a></li>
        <li><a href="FacebookページのURL" class="flowbtn6 fl_fb6"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://feedly.com/i/subscription/feed/https://自分のサイトドメイン名/feed" class="flowbtn6 fl_fd6"><i class="fas fa-rss"></i></a></li>
      </ul>
    </div>
  </footer>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/script.js"></script>
</body>

</html>
