<!doctype html>
<html　lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>吉祥寺　手打ちそば　ほさか</title>
</head>
<body>
  <section>
    <div>
      <h1>手打ちそば　ほさか　吉祥寺本店</h1>

    </div>
  </section>
  <section id="concept">
    <div>
      <h1>コンセプト</h1>
      <h2>一． ほさかの「心」</h2>
      <p>私たちは、懐かしい日本の味、平安古来の時代から脈々と日本人の心に受け継がれてきた
        「蕎麦のある生活」を、多くの人たちに伝え続けていきたい。
        そう思いながら、真摯に蕎麦を打ち続けます。</p>
      <h2>一．ほさかの「技」</h2>
      <p>手打ち蕎麦の老舗　足利「一茶庵」片倉先生の門家、味を受け継いでいます。
        昭和五十三年に吉祥寺で開業以来、四十余年腕を磨き続けています。
        出汁は鰹を贅沢に使い秘伝の返しにより、香り良く、蕎麦との相性も抜群です。
        さらに北海道産の粉を製粉したもののみを使用しています。</p>
      <h2>一．ほさかの「味」</h2>
      <p>名物「五色蕎麦」は、ほさかならではの味です。
        手打ち細打ち、太打ち、各種蕎麦の種類も豊富です。
        蕎麦のある食を一層楽しんでいただきたく、お酒に合うおつまみメニューも
        豊富に取り揃えております。</p>
    </div>
    <div class="concepts">
      <div class="start">
        <img src="../images/image1.jpg" alt="">
        <h3>手打ちそば</h3>
        <p>40年に渡り手間を惜しまず手打ちにこだわり、丁寧に作っております。</p>
      </div>
      <div class="goshiki">
        <img src="../images/image2.jpg" alt="">
        <h3>北海道産そば粉</h3>
        <p>国内産100%の最高ランクの蕎麦粉を使ってます。</p>
        <p>香り豊かでコシのあるお蕎麦をお召し上がり下さい。</p>
      </div>
      <div class="culture">
        <img src="../images/image3.jpg" alt="">
        <h3>五色蕎麦</h3>
        <p>看板メニュー五色蕎麦</p>
        <p>季節ごとに変わる五種類のお蕎麦をお楽しみ頂けます。</p>
      </div>
    </div>
  </section>
  <section id="route">
    <div>
      
    </div>
  </section>
</body>
</html>
