<!doctype html>
<html　lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>吉祥寺　手打ちそば　ほさか</title>
</head>
<body>
  <section id="oshinagaki">
    <h1>おしながき</h1>
    <p>ほさかのそばの秘密</p>
    <p>そばタンパクには、コレステロールを減少させ、体脂肪蓄積を抑制する働きがあります。
        なかでもルチンには毛細血管を丈夫にする働きがあり、動脈硬化を予防する効果があるといわれ、近年注目されています。
        ルチンはそば湯にもたっぷり含まれています。</p>
    <div class="kawari">
      <h2>変わりそば</h2>
      <p>田舎とセイロの他に、ごま・しそ・柚子・茶蕎麦、白雪、桜蕎麦など、旬の彩りと香りを盛り込んだ"変わり蕎麦"は、当店のオリジナルメニューです。</p>
      <p>※桜蕎麦（3月～4月）、柚子切り（11月～3月）は季節限定メニューとなります。</p>
      <img src="../images/image22.jpg" alt="">
      <dt>五色そば</dt>
      <dd>2,540円</dd>
      <dd>セイロと田舎に加え、当日の変わり蕎麦すべてをお召し上がりいただけます。</dd>
      <img src="../images/image19.jpg" alt="">
      <dt>二色もり</dt>
      <dd>920円</dd>
      <dd>セイロと田舎の組み合わせになります。</dd>
      <img src="../images/image20.jpg" alt="">
      <dt>三色もり</dt>
      <dd>1,460円</dd>
      <dd>セイロと田舎に加え、変わり蕎麦から１種類お選びください。</dd>
      <img src="../images/image21.jpg" alt="">
      <dt>四色もり</dt>
      <dd>2,000円</dd>
      <dd>セイロと田舎に加え、変わり蕎麦から２種類お選びください。</dd>
    </div>
    <div class="cold">
      <h2>冷たい　そば・うどん</h2>
      <img src="../images/image12.jpg" alt="">
      <dl>
        <dt>もりそば</dt>
        <dd>790円</dd>
        <dt>小もりそば</dt>
        <dd>460円</dd>
        <dt>ざるそば</dt>
        <dd>900円</dd>
        <dt>きつねもり</dt>
        <dd>950円</dd>
      </dl>
      <img src="../images/image13.jpg" alt="">
      <dl>
        <dt>鴨汁そば</dt>
        <dd>1150円</dd>
        <dt>山菜もりそば</dt>
        <dd>950円</dd>
        <dt>冷やしカレーそば</dt>
        <dd>990円</dd>
        <dt>おろしそば</dt>
        <dd>1100円</dd>
        <dt>納豆そば</dt>
        <dd>1200円</dd>
        <dt>つけとろ</dt>
        <dd>1130円</dd>
      </dl>
      <img src="../images/image16.jpg" alt="">
      <dl>
        <dt>法論味（ほろみ）うどん（冷たいごまみそだれ）</dt>
        <dd>1150円</dd>
        <dt>冷やし山かけそば</dt>
        <dd>1200円</dd>
        <dt>冷やし鴨南蛮そば</dt>
        <dd>1660円</dd>
        <dt>鴨汁そば</dt>
        <dd>1150円</dd>
        <dt>茄子ときのこの鴨汁そば</dt>
        <dd>1280円</dd>
        <dt>冷やし揚玉そば</dt>
        <dd>1030円</dd>
      </dl>
    </div>
    <div class="hot">
      <h2>温かい　そば・うどん</h2>
      <img src="../images/image15.jpg" alt="">
      <dl>
        <dt>かけそば</dt>
        <dd>880円</dd>
        <dt>揚玉そば</dt>
        <dd>1030円</dd>
        <dt>玉子とじそば</dt>
        <dd>1110円</dd>
        <dt>山菜そば</dt>
        <dd>1030円</dd>
        <dt>力そば</dt>
        <dd>1110円</dd>
        <dt>きつねそば</dt>
        <dd>1030円</dd>
        <dt>カレーそば</dt>
        <dd>1130円</dd>
        <dt>鴨カレーそば</dt>
        <dd>1630円</dd>
        <dt>天ぷらそば</dt>
        <dd>1700円</dd>
      </dl>
      <img src="../images/image14.jpg" alt="">
      <dt>山かけそば</dt>
      <dd>1290円</dd>
      <img src="../images/image17.jpg" alt="">
      <dt>鴨南蛮そば</dt>
      <dd>1,640円</dd>
      <dd>よく炒めた鴨肉と長ねぎがそばによく合う人気のメニューです。</dd>
      <img src="../images/image18.jpg" alt="">
      <dt>田舎なべ</dt>
      <dd>2,040円</dd>
      <dd>野菜、鴨肉を炒め、良く煮込んだほかほかあったかの煮込みうどんです。</dd>
    </div>
    <div class="otumami">
      <h2>おつまみ</h2>
        <img src="../images/image23.jpg" alt="">
        <dt>そばがき</dt>
        <dd>660円</dd>
        <img src="../images/image24.jpg" alt="">
        <dt>鴨焼き</dt>
        <dd>950円</dd>
        <img src="../images/image25.jpg" alt="">
        <dt>揚げ出し豆腐</dt>
        <dd>630円</dd>
        <img src="../images/image27.jpg" alt="">
        <dt>鶏レバーの生姜煮</dt>
        <dd>640円</dd>
        <img src="../images/image28.jpg" alt="">
        <dt>そばとろ</dt>
        <dd>740円</dd>
        <img src="../images/image29.jpg" alt="">
        <dt>お袋焼き</dt>
        <dd>660円</dd>
        <dt>えび天ぷら</dt>
        <dd>890円</dd>
        <dt>野菜天ぷら</dt>
        <dd>660円</dd>
        <dt>天ぷら盛り合わせ</dt>
        <dd>1750円</dd>
        <dt>梅しそサンド</dt>
        <dd>670円</dd>
        <dt>甘エビ唐揚げ</dt>
        <dd>640円</dd>
        <dt>板わさ</dt>
        <dd>570円</dd>
        <dt>納豆サラダ</dt>
        <dd>610円</dd>
        <dt>もろみ豆腐</dt>
        <dd>610円</dd>
        <dt>揚げ出し茄子</dt>
        <dd>570円</dd>
        <dt>長芋千切り</dt>
        <dd>540円</dd>
        <dt>若鶏唐揚</dt>
        <dd>660円</dd>
        <dt>山菜</dt>
        <dd>430円</dd>
        <dt>釜揚豆腐</dt>
        <dd>920円</dd>
        <dt>冷奴</dt>
        <dd>570円</dd>
        <dt>鴨のくんせい</dt>
        <dd>680円</dd>
        <dt>もろきゅう</dt>
        <dd>530円</dd>
        <dt>ひな鳥皮揚げ</dt>
        <dd>480円</dd>
    </div>
    <div class="kanmi">
      <h2>甘味</h2>
        <img src="../images/image30.jpg" alt="">
        <dt>そばもちしるこ</dt>
        <dd>570円</dd>
        <dd>白玉粉とそば粉をブレンドしたやわらかいおもちと手作りあんこ（こしあん）。</dd>
        <img src="../images/image31.jpg" alt="">
        <dt>おしるこバニラ</dt>
        <dd>570円</dd>
        <dd>冷たいアイスと温かいおしるこがおいしい！冷たいおしるこもできます。</dd>
    </div>
    <div class="drink">
      <h2>お飲み物</h2>
        <h3>日本酒</h3>
          <dt>久保田（新潟）千寿（せんじゅ）特別本醸造酒</dt>
          <dd>冷酒一合　870円</dd>
          <dd>四号瓶　3,460円</dd>
          <dt>菊正宗（灘）本醸造 </dt>
          <dd>燗酒一合　670円</dd>
          <dt>菊正宗（灘）樽酒  </dt>
          <dd>冷酒一合　700円</dd>
          <dt>玉乃光（京都）純米吟醸 </dt>
          <dd>冷酒一合　770円</dd>
          <dt>麒麟山（新潟県）辛口 </dt>
          <dd>冷酒一合　770円</dd>
          <dt>升笑（兵庫県）（３００㎖）</dt>
          <dd>1,300円</dd>
          <dt>鶴齢（新潟県）本醸造酒 </dt>
          <dd>冷酒または熱燗一合　870円</dd>
          <dt>嬉長（奈良県）</dt>
          <dd>一合　770円</dd>
        <h3>本格焼酎</h3>
          <dt>そば焼酎（雲海） ボトル７２０㎖</dt>
          <dd>2,710円</dd>
          <dt>むぎ焼酎（二階堂）ボトル９００㎖</dt>
          <dd>2,710円</dd>
          <dt>本場鹿児島芋焼酎（財宝）</dt>
          <dd>ボトル９００㎖　2,710円</dd>
        <h3>サワー・酎ハイ</h3>
          <dt>そば湯割り</dt>
          <dd>440円</dd>
          <dt>レモンサワー割り</dt>
          <dd>490円</dd>
          <dt>ウーロンハイ割り</dt>
          <dd>490円</dd>
        <h3>ビール</h3>
          <dt>キリン一番搾り生ビール</dt>
          <dd>中ジョッキ　600円</dd>
          <dd>小グラス　390円</dd>
          <dt>瓶ビール</dt>
          <dd>中瓶　670円</dd>
          <dd>小瓶　390円</dd>
          <dt>ノンアルコールビール</dt>
          <dd>310円</dd>
        <h3>ソフトドリンク</h3>
          <dt>ウーロン茶</dt>
          <dd>260円</dd>
          <dt>レモンジュース</dt>
          <dd>260円</dd>
          <dt>オレンジジュース</dt>
          <dd>260円</dd>
    </div>
  </section>
</body>
</html>
