<!doctype html>
<html　lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>吉祥寺　手打ちそば　ほさか</title>
</head>
<body>
  <section>
    <h1>おみやげ用の生蕎麦</h1>
    <h2>当店ではお持ち帰り用の生蕎麦をご用意しております。</h2>
    <img src="../images/motikaeri.jpg" alt="">
    <h3>お持ち帰りそば セイロ・田舎（つゆ付）</h3>
    <h4>一人前　　　　720円</h4>
    <h4>三人前　　 　2,160円</h4>
    <p>※全国配送承ります。</p>
  </section>
</body>
</html>
